<!-- Comments container-->
<h2>Coments</h2>
{% for comment in comments %}
    <div class="comment">
        <p class="info">
        <a href="/users/{{comment.user.username}}"><strong>{{comment.user.get_full_name}}</strong></a> at {{ comment.created|date:"M d, Y"  }} 
        {{ comment.body|linebreaks }}
        </p>
        {% if request.user == comment.user %}
        <a href="/comment/delete/{{comment.pk}}"><i class="fas fa-trash fa-sm" style="color: brown;"></i></a>
        {%endif%}
    </div>
    {% for answer_comment in comment.answer_comment.all %}
        <div class="comment ml-4">
            <p class="info">
            <a href="/users/{{answer_comment.user.username}}"><strong>{{answer_comment.user.get_full_name}}</strong></a> at {{ answer_comment.created|date:"M d, Y"  }} 
            {{ answer_comment.body|linebreaks }}
        </p>
        </div>            
    {% endfor %}
{% empty %}
    <p>There are no comments yet.</p>
{% endfor %}        
<!-- End Comments container-->    

