<!-- Comments container-->
<div class="Contributions-content">
    <div class="InifinityScrollLayout">
        <h2>Coments</h2>
        {% for comment in comments %}
        <div class="comment">
            <p class="info">
            <strong>{{comment.user.get_full_name}}</strong> at {{ comment.created|date:"M d, Y"  }} {{ comment.body|linebreaks }}
            </p>
        </div>
        {% empty %}
        <p>There are no comments yet.</p>
        {% endfor %}
    
        <h2>Answer Comments</h2>
        <p>
        {% for answer_comment in answer_comments %}

        <div class="comment">
            <p class="info">
            {{ answer_comment.created }} {{ answer_comment.body|linebreaks }}
            </p>
        </div>
        {% empty %}
        <p>There are no comments yet.</p>
        {% endfor %}
        </p>
        

    </div>
</div>
<!-- End Comments container-->    

