<!-- Questions container-->
<h2>Questions</h2>
{% for question in questions %}
  <div class="comment">
    <p class="info">
      <a href="/users/{{question.user.username}}"><strong>{{question.user.get_full_name}}</strong></a> at {{ question.created|date:"M d, Y"  }} 
      {{ question.body|linebreaks }}
      </p>
      {% if request.user == question.user %}
      <a href="/comment/delete/{{question.pk}}"><i class="fas fa-trash fa-sm" style="color: brown;"></i></a>
      {%endif%}
  </div>

  {% for answer_question in question.answer_questions.all %}
  <div class="comment ml-4">
      <p class="info">
      <a href="/users/{{answer_question.user.username}}"><strong>{{answer_question.user.get_full_name}}</strong></a> at {{ answer_question.created|date:"M d, Y"  }} 
      {{ answer_question.body|linebreaks }}
  </p>
  </div>            
  {% endfor %}

{% empty %}
  <p>There are no questions yet.</p>
{% endfor %}
<!-- End Questions container-->

