{% extends "base.html" %}

{% block head_content %} 

{% endblock %} 

{% block container %}

<!--Bloque de contenidos-->
<div class="MaterialView">
  <div class="MaterialView-video">
    <div class="MaterialView-video-item">
      <div class="MaterialVideo">
        <div class="VideoPlayer">
          <video width="530" height="440" controls autoplay>
            <source src="{{lesson.video_path.url}}" type="video/mp4"></source>
          </video>
        </div>
      </div>

    </div>
  </div>
  <div class="MaterialView-content">
    <div class="MaterialView-content-wraper">
      <div class="Header-course">
        <div class="Header-course-info">
          <img class="Header-course-info-badge" src="https://static.platzi.com/media/achievements/badges-django-avanzado-45e0f52b-5a5c-4b5d-9941-afd76cc58677.png" alt="Curso Avanzado de Django" loading="lazy">
          <div class="Header-course-info-content">
            <a href=""><h2>{{lesson.course}}</h2></a>
            <img src="https://static.platzi.com/media/avatars/avatars/pablotrinidad_240414bc-717c-485a-a7d3-4b314c682028.jpg" alt="" loading="lazy">
            <p>{{lesson.course.teacher}}</p>
          </div>
        </div>
        
        <div class="Header-course-actions">
          <button class="Header-course-actions-prev">
            <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="arrow-to-left" class="svg-inline--fa fa-arrow-to-left fa-w-14 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M247.9 412.5l-148.4-148c-4.7-4.7-4.7-12.3 0-17l148.4-148c4.7-4.7 12.3-4.7 17 0l19.6 19.6c4.8 4.8 4.7 12.5-.2 17.1L187.2 230H436c6.6 0 12 5.4 12 12v28c0 6.6-5.4 12-12 12H187.2l97.1 93.7c4.8 4.7 4.9 12.4.2 17.1l-19.6 19.6c-4.7 4.8-12.3 4.8-17 .1zM52 436V76c0-6.6-5.4-12-12-12H12C5.4 64 0 69.4 0 76v360c0 6.6 5.4 12 12 12h28c6.6 0 12-5.4 12-12z"></path></svg>
            <div class="Header-tooltip">
              <p>Titulo clase anterior</p>
            </div>
          </button>

          <button class="Header-course-actions-next">
            <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="arrow-to-right" class="svg-inline--fa fa-arrow-to-right fa-w-14 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M200.1 99.5l148.4 148c4.7 4.7 4.7 12.3 0 17l-148.4 148c-4.7 4.7-12.3 4.7-17 0l-19.6-19.6c-4.8-4.8-4.7-12.5.2-17.1l97.1-93.7H12c-6.6 0-12-5.4-12-12v-28c0-6.6 5.4-12 12-12h248.8l-97.1-93.7c-4.8-4.7-4.9-12.4-.2-17.1l19.6-19.6c4.7-4.9 12.3-4.9 17-.2zM396 76v360c0 6.6 5.4 12 12 12h28c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12h-28c-6.6 0-12 5.4-12 12z"></path></svg>
            <span>Siguiente clase</span>
            <div class="Header-tooltip">
              <p>Titulo clase siguiente</p>
            </div>
          </button>
        </div>

      </div>

      <div class="Header-class">
        <div class="Header-class-title">
          <h1>{{lesson.title}}</h1>
          <span>1/20</span>
        </div>
      </div>
    </div>
  </div>

<!--Bloque de comunidad-->
  <div class="MaterialView-comunity">
    <div class="MaterialView-comunity-wraper">
      
      <!--Crear comentario-->
      <div class="MaterialView-editor">

        <div class="EditorWrapper">
          <div class="EditorWrapper-input">
            <!-- INSERTARFORMULARIO DE COMENTARIO-->
            <input type="text" name="" id="" placeholder="Escribe tu comentario...">       
          </div>
        </div>

      </div>

      <!--Comentarios-->
      <div class="CommunityTabs">
        <div class="CommunityTabs-content">
          <div class="u-wraper">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="comments-tab" data-bs-toggle="tab" data-bs-target="#comments" type="button" role="tab" aria-controls="comments" aria-selected="true">Aportes</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="questions-tab" data-bs-toggle="tab" data-bs-target="#questions" type="button" role="tab" aria-controls="questions" aria-selected="false">Preguntas</button>
              </li>
            </ul>
          </div>
          
          <div class="CommunityTabs-content-content">
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="comments" role="tabpanel" aria-labelledby="comments-tab">
                {% include 'courses/comments.html' %}
              </div>
              <div class="tab-pane fade" id="questions" role="tabpanel" aria-labelledby="questions-tab">
                {% include 'courses/questions.html' %}
              </div>
            </div>
          </div>

        </div>


        
      
      
      </div>
    </div>
  
  </div>
</div>




{% endblock %} 





<!--
  OBSOLETO
  Lesson container-->
<section class="py-5 text-center container">
  
  <div class="row py-lg-5">
    <div class="col-lg-10 col-md-8 mx-auto">
      <h1 class="fw-light">{{lesson.title}}</h1>
      <p class="lead text-muted">{{lesson.description}}</p>
      <p class="lead text-muted">Teacher: {{lesson.teacher.get_full_name}}</p>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="{{lesson.video_path}}" allowfullscreen></iframe>
        <video width="530" height="440" controls autoplay>
          <source src="/media/courses/videos/test.mp4" type="video/mp4"> </source>
        </video>
      </div>
      <div>
        <button type="button" class="btn btn-outline-secondary"><a href="{{lesson.attached_files.url}}" target="_blank">Download attached files</a></button>
  </div>
<!--End Lesson container-->



