{% extends "base.html"%}

{%block head_content%}
<title>Home</title>
{%endblock%}


{%block container%}

<h1>Welcome {{user.get_full_name}}</h1>
<h2>Continúa donde lo dejaste</h2>
<div class="card-group">
    {% for ongoing in ongoing_courses %}
        <div class="card flex" style="width: 18rem;">
          <img src="{{ongoing.last_lesson.thumbnail.url}}" class="card-img-top" alt="Thumbnail" height="400px">
          <div class="card-body">
            <h5 class="card-title">{{ongoing.last_lesson.title}}</h5>
            <p class="card-text">Course: <a href="course/{{ongoing.course.pk}}">{{ongoing.course.title}}</a></p>
            <a href="/lesson/{{ongoing.last_lesson.pk}}" class="btn btn-primary">Go to lesson</a>
          </div>
        </div>        
    {% endfor %}
</div> 
    
<h2>Tus cursos terminados:</h2>
<div class="card-group">
  {% for approved in approved_courses %}
      <div class="card flex" style="width: 18rem;">
        <img src="{{approved.course.icon.url}}" class="card-img-top" alt="Thumbnail" height="400px">
        <div class="card-body">
          <h5 class="card-title"><a href="course/{{approved.course.pk}}">{{approved.course.title}}</a></h5>
          <a href="" class="btn btn-primary">Get diploma</a>
        </div>
      </div>        
  {% endfor %}
</div> 
{%endblock%}
